body {
  background-color: #F1F1F1; }

figure {
  margin: 0; }

ul {
  margin-bottom: 0; }

ol {
  margin-bottom: 0; }

a {
  color: #466991; }

img {
  max-width: 100%; }

.margin-navbar {
  margin-top: 86px; }

body {
  font-family: 'Roboto', sans-serif; }

.header .navigation-top {
  align-items: center;
  padding: 20px 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 16px 0 #D7D7D7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }
  .header .navigation-top__img-brand .logo-company {
    width: 100px;
    height: auto; }
  .header .navigation-top__button-collapse {
    display: none; }
  .header .navigation-top__menu-collapse .menu {
    list-style: none;
    display: flex; }
  .header .navigation-top__menu-collapse .nav-link {
    margin-right: 25px; }
    .header .navigation-top__menu-collapse .nav-link .fa-sign-out {
      font-size: 24px;
      line-height: 24px;
      -ms-transform: rotate(20deg);
      /* IE 9 */
      -webkit-transform: rotate(20deg);
      /* Safari 3-8 */
      transform: rotate(180deg); }
    .header .navigation-top__menu-collapse .nav-link.-custom-color-link {
      color: #A4A4A4; }
    .header .navigation-top__menu-collapse .nav-link.-active {
      background-color: #F24962;
      display: inline-flex;
      border-radius: 6px;
      padding: 10px 20px;
      color: #FFFFFF; }
  .header .navigation-top__user {
    display: flex;
    align-items: center; }
    .header .navigation-top__user .avatar {
      border-radius: 50%;
      margin-right: 10px;
      width: 32px;
      height: 32px;
      object-fit: cover;
      object-position: center; }
      .header .navigation-top__user .avatar.-color-random-1 {
        background-color: #6fbec5; }
      .header .navigation-top__user .avatar.-color-random-2 {
        background-color: #e3695c; }
      .header .navigation-top__user .avatar.-color-random-3 {
        background-color: #f1af4e; }
      .header .navigation-top__user .avatar.-color-random-4 {
        background-color: #0a9145; }
      .header .navigation-top__user .avatar.-color-random-5 {
        background-color: #505050; }
      .header .navigation-top__user .avatar.-color-random-6 {
        background-color: #e05073; }
      .header .navigation-top__user .avatar.-color-random-7 {
        background-color: #008fc9; }
      .header .navigation-top__user .avatar.-color-random-8 {
        background-color: #0f75bd; }
      .header .navigation-top__user .avatar.-color-random-9 {
        background-color: #E8E9EE; }

.test-listening,
.test-reading,
.test-writing,
.test-speaking {
  margin-bottom: 30px; }
  .test-listening .background-test,
  .test-reading .background-test,
  .test-writing .background-test,
  .test-speaking .background-test {
    background-color: #FFFFFF;
    border-radius: 6px;
    padding-bottom: 30px; }
    .test-listening .background-test .group-test__title,
    .test-reading .background-test .group-test__title,
    .test-writing .background-test .group-test__title,
    .test-speaking .background-test .group-test__title {
      font-size: 20px;
      font-weight: bold;
      padding-top: 15px; }
    .test-listening .background-test .group-test__subtitle,
    .test-reading .background-test .group-test__subtitle,
    .test-writing .background-test .group-test__subtitle,
    .test-speaking .background-test .group-test__subtitle {
      font-size: 12px;
      text-transform: uppercase;
      padding-bottom: 15px; }
    .test-listening .background-test .group-test__custom-border-bottom,
    .test-reading .background-test .group-test__custom-border-bottom,
    .test-writing .background-test .group-test__custom-border-bottom,
    .test-speaking .background-test .group-test__custom-border-bottom {
      border-bottom: 1px solid #D1D1D1;
      height: 1px; }
    .test-listening .background-test .questions,
    .test-reading .background-test .questions,
    .test-writing .background-test .questions,
    .test-speaking .background-test .questions {
      display: flex;
      margin: 30px 0; }
      .test-listening .background-test .questions__title,
      .test-reading .background-test .questions__title,
      .test-writing .background-test .questions__title,
      .test-speaking .background-test .questions__title {
        font-size: 30px;
        font-weight: bold;
        color: #F24962;
        padding-right: 20px;
        border-right: 1px solid #D1D1D1; }
      .test-listening .background-test .questions__subtitle,
      .test-reading .background-test .questions__subtitle,
      .test-writing .background-test .questions__subtitle,
      .test-speaking .background-test .questions__subtitle {
        padding-left: 20px; }
    .test-listening .background-test #tape-script .card,
    .test-reading .background-test #tape-script .card,
    .test-writing .background-test #tape-script .card,
    .test-speaking .background-test #tape-script .card {
      color: red; }
    .test-listening .background-test .exam-questions,
    .test-reading .background-test .exam-questions,
    .test-writing .background-test .exam-questions,
    .test-speaking .background-test .exam-questions {
      background-color: #F1F1F1;
      width: 100%;
      height: 530px;
      margin-bottom: 100px; }
    .test-listening .background-test .group-button,
    .test-reading .background-test .group-button,
    .test-writing .background-test .group-button,
    .test-speaking .background-test .group-button {
      justify-content: space-between;
      margin: 35px -10px; }
      .test-listening .background-test .group-button .custom-col,
      .test-reading .background-test .group-button .custom-col,
      .test-writing .background-test .group-button .custom-col,
      .test-speaking .background-test .group-button .custom-col {
        padding: 0 10px; }
      .test-listening .background-test .group-button .form-textarea-notepad,
      .test-reading .background-test .group-button .form-textarea-notepad,
      .test-writing .background-test .group-button .form-textarea-notepad,
      .test-speaking .background-test .group-button .form-textarea-notepad {
        color: #333;
        margin-top: 35px; }
        .test-listening .background-test .group-button .form-textarea-notepad textarea,
        .test-reading .background-test .group-button .form-textarea-notepad textarea,
        .test-writing .background-test .group-button .form-textarea-notepad textarea,
        .test-speaking .background-test .group-button .form-textarea-notepad textarea {
          background: #F3F3F3; }
    .test-listening .background-test .form-answer__number-answer,
    .test-reading .background-test .form-answer__number-answer,
    .test-writing .background-test .form-answer__number-answer,
    .test-speaking .background-test .form-answer__number-answer {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #466991;
      border-radius: 50%;
      text-align: center;
      color: #FFFFFF;
      font-size: 20px; }
    .test-listening .background-test .form-answer__input-answer,
    .test-reading .background-test .form-answer__input-answer,
    .test-writing .background-test .form-answer__input-answer,
    .test-speaking .background-test .form-answer__input-answer {
      margin-bottom: 35px; }
    .test-listening .background-test .form-answer .input-answer.-custom-padding-left,
    .test-reading .background-test .form-answer .input-answer.-custom-padding-left,
    .test-writing .background-test .form-answer .input-answer.-custom-padding-left,
    .test-speaking .background-test .form-answer .input-answer.-custom-padding-left {
      padding-left: 0; }

section.information .designed-build {
  margin-bottom: 120px;
  font-size: 12px;
  color: #9DA7B1; }

footer#footer-listening {
  background-color: #FFFFFF;
  box-shadow: 0 0 16px 0 #D7D7D7;
  padding: 20px 0; }
  footer#footer-listening .next_section {
    width: auto; }

.align-item-center {
  align-items: center; }

.audio-player-time-countdown {
  display: flex;
  flex-direction: row; }
  .audio-player-time-countdown .audio-player {
    display: flex;
    width: 100%; }
    .audio-player-time-countdown .audio-player .group-button-audio .btn-play-pause {
      font-size: 50px;
      color: #F24962;
      margin-right: 25px; }
    .audio-player-time-countdown .audio-player .time-play {
      width: 100%; }
      .audio-player-time-countdown .audio-player .time-play__time-audio {
        margin-right: 15px; }
      .audio-player-time-countdown .audio-player .time-play__audio-time-line {
        position: relative;
        height: 4px;
        border-radius: 6px;
        background-color: #E8E9EE;
        margin-right: 15px;
        width: 100%; }
        .audio-player-time-countdown .audio-player .time-play__audio-time-line::before {
          content: '';
          position: absolute;
          width: 120px;
          height: 4px;
          border-radius: 6px;
          background-color: #F24962; }
        .audio-player-time-countdown .audio-player .time-play__audio-time-line::after {
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #FFFFFF;
          border: 2px solid #F24962;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 42%; }
      .audio-player-time-countdown .audio-player .time-play__time-left {
        margin-right: 15px; }
    .audio-player-time-countdown .audio-player .volume__icon {
      color: #9DA7B1;
      font-size: 24px;
      margin-right: 15px; }
    .audio-player-time-countdown .audio-player .volume__level {
      position: relative;
      width: 70px;
      max-width: 70px;
      height: 4px;
      border-radius: 6px;
      background-color: #E8E9EE;
      margin-right: 15px; }
      .audio-player-time-countdown .audio-player .volume__level::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        border-radius: 6px;
        background-color: #F24962; }
      .audio-player-time-countdown .audio-player .volume__level::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background-color: #FFFFFF;
        border: 2px solid #F24962; }

.time-countdown {
  color: #F24962;
  margin-left: auto;
  margin-right: auto; }
  .time-countdown_left {
    margin-left: 0; }
  .time-countdown__icon {
    font-size: 24px;
    margin-right: 10px; }
  .time-countdown__time {
    font-size: 30px;
    font-weight: bold; }

.test-listening .choose_correct_question {
  margin-bottom: 15px; }
  .test-listening .choose_correct_question .form-answer__number-answer {
    margin-right: 15px;
    display: inline-block; }
.test-listening .choose_correct_answer {
  margin-left: 30px; }
  .test-listening .choose_correct_answer .check {
    display: inline-block;
    border: 1px solid #F24962;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    cursor: pointer; }
.test-listening .choose_correct .check_box_active strong {
  background: #F24962;
  color: #FFF; }
.test-listening .choose_correct label {
  margin-bottom: 10px;
  display: block; }

.form-answer-review-mode__text.-false {
  color: #F24962; }
.form-answer-review-mode__text.-true {
  color: #466991; }
  .form-answer-review-mode__text.-true .fa-check {
    color: #2AB850; }
.form-answer-review-mode__text-answer {
  color: #466991; }

.test-listening .choose_correct .check_box .check-review-test-listening {
  display: inline-block;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  cursor: pointer; }
.test-listening .choose_correct .check_box.-true .check-review-test-listening {
  background-color: #466991;
  color: #FFFFFF; }
.test-listening .choose_correct .check_box.-true .question-answer {
  color: #466991; }
  .test-listening .choose_correct .check_box.-true .question-answer .fa-check {
    color: #2AB850; }
.test-listening .choose_correct .check_box.-false .check-review-test-listening {
  background: #F24962;
  color: #FFFFFF; }
.test-listening .choose_correct .check_box.-false .question-answer {
  color: #F24962; }
.test-listening .choose_correct .check_box.-normal .check-review-test-listening {
  border: 1px solid #F24962;
  color: #F24962; }
.test-listening .choose_correct label {
  margin-bottom: 10px;
  display: block; }

/* .split {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow-y: auto;overflow-x: hidden;}
.gutter {background-color: transparent;background-repeat: no-repeat;background-position: 50%;}
background-repeat: repeat;}
.split.split-horizontal, .gutter.gutter-horizontal { height: 100%;float: left;}
*/
.gutter {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==") no-repeat #EFEFEF 50%; }

.flex {
  display: flex;
  flex-direction: row; }

.gutter.gutter-horizontal {
  cursor: ew-resize; }

.test-reading .col_gutter {
  padding: 30px 15px 30px 0; }
.test-reading .title {
  font-size: 20px;
  color: #F24962; }
.test-reading .read {
  /* .description {margin-bottom: $margin-3} */ }
  .test-reading .read_title {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0; }
  .test-reading .read_image {
    margin-bottom: 15px;
    width: 100%; }
.test-reading .answer {
  padding-left: 20px; }
  .test-reading .answer .question_title {
    font-size: 20px;
    color: #F24962;
    font-weight: bold; }
.test-reading .custom-col {
  padding: 0 10px; }
.test-reading .left_input_100 {
  float: left;
  margin-right: 10px; }
.test-reading .right_input_100 {
  width: calc(100% - 55px);
  float: left; }
.test-reading .choose_answer {
  margin-top: 30px; }
  .test-reading .choose_answer .item {
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 25px;
    margin-bottom: 25px; }
    .test-reading .choose_answer .item:last-child {
      border-bottom: none;
      padding-bottom: 0; }

.test-writing .title {
  font-size: 16px;
  color: #F24962; }
.test-writing .question {
  margin-top: 30px; }
  .test-writing .question_title {
    font-size: 20px;
    color: #F24962; }
  .test-writing .question_description {
    margin-bottom: 15px; }
.test-writing .answer {
  margin-top: 30px; }
  .test-writing .answer_title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500; }
  .test-writing .answer_count_word {
    font-size: 14px;
    float: right; }
  .test-writing .answer textarea {
    background: #E8E9EE;
    padding: 10px;
    min-height: 300px; }

.test-speaking .user_guide {
  margin-top: 30px;
  border: 1px solid #D1D1D1;
  border-radius: 6px;
  margin-bottom: 30px; }
  .test-speaking .user_guide_title {
    color: #466991;
    border-bottom: 1px solid #D1D1D1;
    padding: 10px;
    cursor: pointer; }
  .test-speaking .user_guide_content {
    padding: 10px; }
.test-speaking .question .item {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #D1D1D1; }
  .test-speaking .question .item:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0; }
  .test-speaking .question .item .show_tape {
    background: #FBFBFB;
    border: 1px solid #D1D1D1;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 15px; }
    .test-speaking .question .item .show_tape i {
      float: right; }
  .test-speaking .question .item input {
    margin-bottom: 15px; }
  .test-speaking .question .item .player {
    margin-bottom: 25px; }
  .test-speaking .question .item button i {
    margin-right: 5px; }
.test-speaking .answer .cue_card {
  background: #FFF9F2;
  padding: 10px;
  color: #707070;
  border-radius: 6px;
  border: 1px solid #707070;
  margin-bottom: 30px; }
.test-speaking .answer .notepad {
  background: #FBFBFB;
  padding: 10px;
  color: #707070;
  border: 1px solid #D1D1D1;
  border-radius: 6px;
  margin-bottom: 30px;
  min-height: 300px;
  resize: both; }

section.test-reading-review .answer .table-border {
  border: 1px solid #D1D1D1; }
  section.test-reading-review .answer .table-border td {
    border-top: 1px solid #D1D1D1; }
section.test-reading-review .answer .choose_answer__review-your-answer .text-uppercase {
  text-transform: uppercase; }
section.test-reading-review .answer .choose_answer__review-your-answer .your-answer.-true {
  color: #466991; }
  section.test-reading-review .answer .choose_answer__review-your-answer .your-answer.-true .fa-check {
    color: #2AB850; }
section.test-reading-review .answer .choose_answer__review-your-answer .your-answer.-false {
  color: #F24962; }
section.test-reading-review .answer .choose_answer__review-your-answer .real-answer {
  color: #466991; }
section.test-reading-review .answer .item-test-reading-review.-border-margin-bottom {
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 25px; }
  section.test-reading-review .answer .item-test-reading-review.-border-margin-bottom.-question-8-16 {
    margin-top: 3rem; }
section.test-reading-review .answer .item-test-reading-review:last-child {
  border-bottom: none;
  padding-bottom: 0; }

.test-writing-result .warp_bg {
  padding-top: 15px; }
  .test-writing-result .warp_bg .information {
    color: #393939; }
    .test-writing-result .warp_bg .information__title {
      font-size: 20px;
      font-weight: bold; }
    .test-writing-result .warp_bg .information__view {
      margin-top: 5px; }
    .test-writing-result .warp_bg .information__text-notification {
      font-weight: bold;
      font-size: 20px;
      margin-top: 35px; }
    .test-writing-result .warp_bg .information__text-sub-notification {
      margin-top: 10px; }
    .test-writing-result .warp_bg .information__button-action {
      margin-top: 35px; }
      .test-writing-result .warp_bg .information__button-action .custom-button {
        width: 23rem; }
      .test-writing-result .warp_bg .information__button-action .button-02 {
        margin-top: 20px; }
    .test-writing-result .warp_bg .information__sub-text-button {
      font-size: 12px;
      color: #9DA7B1;
      margin-top: 10px; }

.section-breadcrumb .custom-breadcrumb {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 0;
  list-style: none;
  border-radius: .25rem; }

[class*="btn"] {
  text-transform: capitalize; }

.btn-outline-primary {
  color: #466991;
  border-color: #466991; }

.btn-outline-primary:hover {
  color: #fff;
  background-color: #466991;
  border-color: #466991; }

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #466991;
  background-color: transparent; }

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #466991;
  border-color: #466991; }

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.btn-danger {
  color: #fff;
  background-color: #F24962;
  border-color: #F24962; }

.btn-danger:hover {
  color: #fff;
  background-color: #F24962;
  border-color: #F24962; }

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5); }

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #F24962;
  border-color: #F24962; }

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #F24962;
  border-color: #F24962; }

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5); }

section#questions-list {
  margin-bottom: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020; }
  section#questions-list .background-questions-list {
    background-color: #F9F9F9;
    border: 1px solid #9DA7B1;
    border-radius: 6px;
    height: 0px;
    transition: height .5s;
    max-height: 300px; }
    section#questions-list .background-questions-list .title-button-hide-questions-list {
      padding: 15px 0 5px 0; }
      section#questions-list .background-questions-list .title-button-hide-questions-list .button-hide-questions-list {
        cursor: pointer;
        color: #466991; }
      section#questions-list .background-questions-list .title-button-hide-questions-list__title {
        font-weight: bold; }
    section#questions-list .background-questions-list .questions-list {
      justify-content: space-between;
      padding-top: 15px; }
      section#questions-list .background-questions-list .questions-list .questions-number {
        display: inline-block;
        margin: 0 5px 10px 5px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        line-height: 35px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        text-align: center; }
        section#questions-list .background-questions-list .questions-list .questions-number.-done {
          background-color: #466991; }
        section#questions-list .background-questions-list .questions-list .questions-number.-not-done-yet {
          background-color: #8DA2BA; }
        section#questions-list .background-questions-list .questions-list .questions-number.-true {
          background-color: #2AB850; }
        section#questions-list .background-questions-list .questions-list .questions-number.-false {
          background-color: #F24962; }
    section#questions-list .background-questions-list.-active {
      height: 210px;
      transition: height .5s; }

.card {
  background-color: #FFF9F2; }

.table th,
.table td {
  vertical-align: unset;
  border-top: none; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?b8i01l");
  src: url("fonts/icomoon.eot?b8i01l#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?b8i01l") format("truetype"), url("fonts/icomoon.woff?b8i01l") format("woff"), url("fonts/icomoon.svg?b8i01l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-baseline-play_circle_filled-24px:before {
  content: "\e905"; }

.icon-baseline-replay-24px:before {
  content: "\e906"; }

.icon-baseline-volume_up-24px:before {
  content: "\e907"; }

.icon-baseline-exit_up-24px:before {
  content: "\e908"; }

.icon-baseline-arrow-next_up-24px:before {
  content: "\e909"; }

.icon-round-timer-24px:before {
  content: "\e90a"; }

.icon-baseline-reply-24px:before {
  content: "\e90b"; }

.icon-baseline-arrow_forward_ios-24px:before {
  content: "\e90c"; }

.icon-baseline-calendar_today-24px-1:before {
  content: "\e90d"; }

.icon-clock-regular:before {
  content: "\e90e"; }

.icon-baseline-pause-24px:before {
  content: "\e90f"; }

.icon-baseline-record_voice_over-24px:before {
  content: "\e910"; }

.icon-baseline-remove_red_eye-24px:before {
  content: "\e911"; }

.icon-baseline-keyboard_arrow_down-24px:before {
  content: "\e912"; }

.icon-baseline-keyboard_arrow_right-24px-1:before {
  content: "\e913"; }

.icon-baseline-close-24px:before {
  content: "\e914"; }

.icon-baseline-check-24px:before {
  content: "\e915"; }

.icon-baseline-more_horiz-24px-1:before {
  content: "\e916"; }

.icon-full-test:before {
  content: "\e900"; }

.icon-listening:before {
  content: "\e901"; }

.icon-reading:before {
  content: "\e902"; }

.icon-speaking:before {
  content: "\e903"; }

.icon-writing:before {
  content: "\e904"; }

/*# sourceMappingURL=style-test-ielts.css.map */
