.dropdown-comment-option {
    z-index: 1;
    max-width: 150px;
    width: 150px;
    padding: 10px 0;

    border-radius: 6px;
    background-color: $color-7;
    box-shadow: 0px 0px 16px 3px #66666636;

    // opacity: 1;
    transition: .2s;
    // opacity: 0;
    display: none;
    list-style: none;
    position: absolute;
    top: 40px;
    left: -60px;

    &:before {
        content: '';
        height: 10px;
        width: 10px;
        display: block;
        position: absolute;
        top: -19px;
        left: 65px;
        border: 10px solid #fff;
        border-color: transparent transparent #fff transparent;
    }

    .list-style-none {
        list-style: none !important;
    }
    
    &.open {
        // opacity: 1;
        display: block;
        transition: .2s;
    }

    li {
        .link-items {
            padding: 15px;
            display: flex;

        }

        &:hover {
            background-color: $color-11;
        }

    }
}   