body {
    background-color: $black-4;
}

figure {
    margin: 0;
}

ul {
    margin-bottom: 0;

}

ol {
    margin-bottom: 0;
}

a {
    color: $dark-blue-1;
}
img {max-width: 100%;}
.margin-navbar {
    margin-top: 86px;
}