//color
$light-red-1: #F24962;
$light-red-2:rgb(173, 28, 50);

$green-1: #2AB850;

$light-yellow: #FFF9F2;

$dark-blue-1: #466991;
$dark-blue-2: #9DA7B1;
$dark-blue-3: #BFC3C8;
$dark-blue-4: #E8E9EE;
$dark-blue-5: #F2F3F5;
$dark-blue-6: #F3F3F3;
$dark-blue-7: #8DA2BA;

$black-1: #393939;
$black-2: #A4A4A4;
$black-3: #D1D1D1;
$black-4: #F1F1F1;
$black-5: #F9F9F9;
$black-6: #FDFDFD;


$white-1: #FFFFFF;

//color-random
$color-random-1: #6fbec5;
$color-random-2: #e3695c;
$color-random-3: #f1af4e;
$color-random-4: #0a9145;
$color-random-5: #505050;
$color-random-6: #e05073;
$color-random-7: #008fc9;
$color-random-8: #0f75bd;
$color-random-9: #E8E9EE;


//typography 
$h1: 50px;
$h2: 40px;
$h3: 30px;
$h4: 20px;
$h5: 16px;
$h6: 14px;
$h7: 12px;
$h8: 10px;


//icon
$icon-1: 12px;
$icon-2: 24px;
$icon-3: 36px;
$icon-4: 48px;

//boder-radius
$border-radius-1: 4px;
$border-radius-2: 6px;


//padding
$padding-1: 5px;
$padding-2: 10px;
$padding-3: 15px;
$padding-4: 20px;
$padding-5: 25px;
$padding-6: 30px;
$padding-7: 35px;



//margin
$margin-1: 5px;
$margin-2: 10px;
$margin-3: 15px;
$margin-4: 20px;
$margin-5: 25px;
$margin-6: 30px;
$margin-7: 35px;


$margin-11: -5px;
$margin-12: -10px;
$margin-13: -15px;
$margin-14: -20px;
$margin-15: -25px;
$margin-16: -30px;
$margin-17: -35px;


//button
$custom-button-outline-primary: 215px;